<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="currentSegment" (ionChange)="segmentChanged()">
    <ion-segment-button value="contact">
      <ion-label>Your contacts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="people">
      <ion-label>People</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Search bar, to search all the user database in Firestore -->
  <ion-searchbar
    [(ngModel)]="searchBarText"
    (ionChange)="getSearchText()"
    debounce="500" 
    showCancelButton="focus"
    cancelButtonText="Cancel"
    placeholder="Find someone">
  </ion-searchbar>

  <ion-card *ngIf="!dataService.currentUser.contacts.length && dataService.IS_SHOWING_CONTACT_TIPS && currentSegment === 'contact'">
    <ion-item>
      You don't have any contact
    <ion-icon style="cursor: pointer;" name="close" slot="end" (click)="closeContactTip()"></ion-icon>
    </ion-item>
    <ion-item>Search for people using their emails or phone numbers</ion-item>
  </ion-card>

  <!-- List used to display the search-matched results -->
  <ion-list *ngIf="searchItems.length > 0">
    <ion-list-header>
      Search result: 
    </ion-list-header>
    <ion-item *ngFor="let item of searchItems" class="item-search-result">
      <ion-avatar slot="start">
        <img [src]="item.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.email }}</h2>
        <h3>{{ (item.displayName) ? item.displayName : 'No username available' }}</h3>
        <p>{{ (item.phoneNumber) ? item.phoneNumber : 'Phone number not available' }}</p>
      </ion-label>
      <ion-icon 
        (click)="addToContact(item)"
        color="warning"
        name="person-add" slot="end">
      </ion-icon>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="dataService.currentUser.contacts.length && currentSegment === 'contact'">
    <ion-list-header>
      Your contacts 
    </ion-list-header>
    <ion-item 
      *ngFor="let contact of dataService.currentUser.fullContactList" 
      (click)="goToInbox(contact.email)"
      class="item-search-result">
      <ion-avatar slot="start">
        <img [src]="contact.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{ contact.email }}</h2>
        <h3>{{ (contact.displayName) ? contact.displayName : 'No username available' }}</h3>
        <p>{{ (contact.phoneNumber) ? contact.phoneNumber : 'Phone number not available' }}</p>
      </ion-label>
      <ion-icon 
        (click)="removeFromContact(contact.email)"
        color="danger"
        name="person-remove" slot="end">
      </ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
