<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!dataService.currentUser.contacts.length && isShowingZeroContactAlert">
    <ion-card-header>You don't have any contact</ion-card-header>
    <ion-card-content>
      Search for people using their emails or phone numbers
    </ion-card-content>
  </ion-card>

  <!-- Search bar, to search all the user database in Firestore -->
  <ion-searchbar 
    (ionChange)="getSearchText($event)"
    debounce="500" 
    showCancelButton="focus"
    cancelButtonText="Cancel"
    placeholder="Find someone">
  </ion-searchbar>

  <!-- List used to display the search-matched results -->
  <ion-list *ngIf="searchItems.length > 0">
    <ion-list-header>
      Search result
    </ion-list-header>
    <ion-item *ngFor="let item of searchItems" class="item-search-result">
      <ion-avatar slot="start">
        <img [src]="item.photoURL">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.email }}</h2>
        <h3>{{ (item.displayName) ? item.displayName : 'No username available' }}</h3>
        <p>{{ (item.phoneNumber) ? item.phoneNumber : 'Phone number not available' }}</p>
      </ion-label>
      <ion-icon name="person-add-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
