<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!dataService.currentUser.contacts.length && isShowingZeroContactAlert">
    <ion-card-header>You don't have any contact</ion-card-header>
    <ion-card-content>
      Search for people using their emails, phone numbers or nicknames
    </ion-card-content>
  </ion-card>

  <!-- Search bar, to search all the user database in Firestore -->
  <ion-searchbar 
    (ionChange)="getSearchText($event)"
    debounce="500" 
    showCancelButton="focus"
    cancelButtonText="Cancel"
    placeholder="Find someone">
  </ion-searchbar>

  

  <!-- List used to display the search-matched results -->
  <ion-list *ngIf="searchItems | async; let items">
    <ion-item *ngFor="let item of items">
      {{ item.email }} - {{ item.displayName }}
    </ion-item>
  </ion-list>
</ion-content>
