ion-avatar {
    display: flex;
    margin-left: 20px;
    
    img {
        width: 75%;
        height: 75%;
        margin: auto;
    }
}

ion-content {
    display: flex;
    flex-direction: column;

    #chatBar {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}