<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
      </ion-button>
      <ion-avatar>
        <img [src]="user.photoURL">
      </ion-avatar>
      <ion-button>{{ user.displayName }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="chatBar">
    <ion-icon slot="start" name="add"></ion-icon>
    <ion-icon slot="end" name="send" color="primary"></ion-icon>
    <ion-textarea type="text" placeholder="Type something..."></ion-textarea>
  </ion-item>
</ion-content>
