<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      &nbsp; Update your account
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismissUpdateForm()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-thumbnail 
    class="align-middle"
    (mouseenter)="showUploadOption()" 
    (mouseleave)="hideUploadOptoin()"
    (click)="openImagePicker()">
    <img [src]="currentUserImage">
  </ion-thumbnail>

  <br><br><br>

  <!-- Cannot change account email once created -->
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input disabled="true">{{ dataService.currentUser.email }}</ion-input>
  </ion-item>

  <!-- Display name can be duplicated, but must not be blank -->
  <ion-item>
    <ion-label position="stacked">Display name</ion-label>
    <ion-input [(ngModel)]="displayName"></ion-input>
  </ion-item>

  <!-- Note: Phone number is optional, so user can leave it blank -->
  <ion-item>
    <ion-label position="stacked">Number</ion-label>
    <ion-input (keypress)="preventTypingAlphabethCharacter($event)" type="" [(ngModel)]="phoneNumber"></ion-input>
  </ion-item>

  <ion-item>
    
    <ion-button color="tertiary" (click)="updateNewPhoneNumberAndDisplayName()">Update</ion-button>
  </ion-item>

  <input 
    id="fileUploader"
    style="visibility: hidden;"
    type="file" 
    accept="image/x-png,image/gif,image/jpeg" 
    (change)="uploadNewImageToFirebase($event)"
  />
</ion-content>
