<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      &nbsp; Log In
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismissLogInForm()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input 
      [(ngModel)]="email" 
      name="custom" 
      type="email" 
      autocomplete="bro fuck off" 
      enterkeyhint="go" 
      autofocus="true">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input
      [(ngModel)]="password"
      minLength="6"
      name="custom" 
      [type]="isShowingPassword ? 'text' : 'password'" 
      autocomplete="bro fuck off" 
      enterkeyhint="go" 
      clearOnEdit="true">
    </ion-input>

    <ion-icon 
      style="cursor: pointer;"
      slot="end" 
      [name]="isShowingPassword ? 'eye-off' : 'eye'"
      (click)="togglePasswordVisibility()">
    </ion-icon>
  </ion-item>

  <ion-item>
    <ion-button color="tertiary" (click)="sendLogInRequestToFirebase()">Log In</ion-button>
    <ion-spinner name="crescent" slot="end" *ngIf="isLoadingRequest"></ion-spinner>
  </ion-item>
</ion-content>
