<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      &nbsp; Welcome to Delin24
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openLogInModal()">Log in</ion-button>
      <ion-button color="danger" (click)="openSignUpModal()">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="home-container">
    <h3 class="home-align-middle">Delin24 is a free file-sharing platform that allow you to send any file (less than 5MB)</h3>
    <h3 class="home-align-middle">Files will be deleted in 24hrs from the moment they are shared</h3>
  </div>
</ion-content>
